<%- include('partials/header', {title: 'Bagelfunds!'}) %>
<%- include('partials/navbar') %>
<div class="container-fluid">

  <!-- splash img and sign up form-->
  <div class="row min-vh-100 bg-info py-2">
    <div class="col-lg-7 vh-100 d-flex align-items-center bg-bagel bg-info">
      <div class="container d-flex justify-content-center">
        <figure class="text-center font-override">
          <blockquote class="blockquote">
            <p>Can't save? Need cash? We'll solve both problems for you!</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Bagelfunds!
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-lg-5 d-flex align-items-center justify-content-center font-override bg-info">
      <div class="container text-center bg-secondary bg-opacity-50 text-light rounded ">
        <h1 class="my-3">Sign up now!</h1>
        <form action="/signup" method="post">
          <div class="row my-3">
            <label for="username" class="col-form-label col-md-3">Username</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="username" name="username" placeholder="bageluser001">
            </div>
          </div>
          <div class="row my-3">
            <label for="email" class="col-form-label col-md-3">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="email" name="email" placeholder="bagel@funds.com">
            </div>
          </div>
          <div class="row my-3">
            <label for="password" class="col-form-label col-md-3">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-lg my-3" value="Submit" />
        </form>
        <p>Already a member? <a class="link-light" href="/login">Log in here!</a> </p>
        <% if (err) { %>
        <div class="alert alert-danger">
          <% if (err === 'user-taken') { %>
          Username is already taken
          <% } else if (err === 'email-taken') { %>
          Email is already taken
          <% } else if (err === 'not-logged-in') { %>
          Please log in to continue
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Three fundamentals of bagelfunds -->
  <div class="row min-vh-50 py-2" id="howitworks">
    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
      <div class="row py-2">
        <img src="/calendar.svg" alt="schedule" class="rounded">
      </div>
      <div class="row py-2">
        <h5>Schedule</h5>
      </div>
      <div class="row py-2">
        Schedule a cycle with friends!
      </div>
    </div>
    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
      <div class="row py2">
        <img src="/money.svg" alt="save" class="rounded"> <br />
      </div>
      <div class="row py-2">
        <h5>Save</h5>
      </div>
      <div class="row py-2">
        Save together with friends!
      </div>
    </div>
    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
      <div class="row py-2">
        <img src="/bagel.svg" alt="spend" class="rounded"> <br />
      </div>
      <div class="row py-2">
        <h5>Spend</h5>
      </div>
      <div class="row py-2">
        Spend your hard earned cash!
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>