<%- include('header', {title: 'Bagelfunds!'}) %>
<%- include('navbar') %>
<div class="container-fluid min-vh-100 bg-info bg-bagel">
  <div class="row min-vh-100 bg-info py-2">
    <div class="col-lg-12 d-flex align-items-center justify-content-center font-override">
      <div class="container text-center bg-secondary text-light rounded bg-bagel-tile">
        <h1 class="my-3">Log In!</h1>
        <form action="/login" method="post">
          <div class="row my-3">
            <label for="username" class="col-form-label col-md-3">Username</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="username" name="username" placeholder="bageluser001">
            </div>
          </div>
          <div class="row my-3">
            <label for="password" class="col-form-label col-md-3">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-lg my-3" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>