<%- include('header', {title: 'Bagelfunds!'}) %>
<%- include('navbar') %>
<div class="container-fluid min-vh-100 d-flex flex-column align-items-center justify-content-center bg-bagel">
  <h1 class="font-override">Sucessfully signed up!</h1>
  <h3 class="font-override">Ready to transform your savings with Bagelfunds?</h3>
</div>

<script>
  setTimeout(() => {
    window.location = '/login';
  }, 4000);
</script>
<%- include('footer') %>